DJANGO_SECRET_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

FRONTEND_URL=
BACKEND_URL=

GOOGLE_CLIENT_ID=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=

ACCESS_TOKEN_LIFETIME_IN_HOURS=
REFRESH_TOKEN_LIFETIME_IN_HOURS=

GEOAPIFY_API_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

TIME_ZONE=

DB_ENGINE=

APP_ENV=
